// place your custom styles here
.vp-hero-info-wrapper {
  height: 800px;
}

.vp-blog-hero-image {
  max-width: 180px;
}

@media (max-width: 719px) {
  .vp-blog-hero-image {
    max-width: 120px;
  }
}
